<div class="col-sm-6 col-md-4">
    <div fileDrop
         [ngClass]="{'file-is-over': fileIsOver == image}"
         (fileOver)="fileOver($event)"
         (onFileDrop)="onFileDrop($event)">
        <div class="thumbnail">
            <a href="javascript:void(0);" (click)="showImage()">
                <img alt="{{image.name}}"
                     src="{{getImageUrl()}}"
                     [id]="'img'+image.imageId"
                     (load)="load(image)"
                     data-holder-rendered="true">
            </a>
            <div class="caption">
                <div *ngIf="!editing">
                    <h3>{{image.name}}</h3>
                    <p>{{image.description}}</p>
                </div>
                <form *ngIf="editing">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required
                               [(ngModel)]="image.name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" autosize rows="1" id="description" name="description" required
                                  [(ngModel)]="image.description"></textarea>
                    </div>
                  <div class="form-group">
                    <label for="minWidth">Minimum Width</label>
                    <input type="number" class="form-control" name="minWidth" id="minWidth" required
                           [(ngModel)]="image.minWidth">
                  </div>
                  <div class="form-group">
                    <label for="maxWidth">Maximum Width</label>
                    <input type="number" class="form-control" name="maxWidth" id="maxWidth" required
                           [(ngModel)]="image.maxWidth">
                  </div>
                  <div class="form-group">
                    <label for="minHeight">Minimum Height</label>
                    <input type="number" class="form-control" name="minHeight" id="minHeight" required
                           [(ngModel)]="image.minHeight">
                  </div>
                  <div class="form-group">
                    <label for="maxHeight">Maximum Height</label>
                    <input type="number" class="form-control" name="maxHeight" id="maxHeight" required
                           [(ngModel)]="image.maxHeight">
                  </div>
                </form>
                <div [hidden]="image.fileName != null && image.fileName.length > 0"
                     class="alert alert-warning">
                    <span class="glyphicon glyphicon-cloud-upload"></span> You must upload this image! Click on the upload button, or drag & drop the image file into this box.
                </div>
              <div [hidden]="widthWarning == null"
                   class="alert alert-warning">
                {{widthWarning}}
              </div>
              <div [hidden]="heightWarning == null"
                   class="alert alert-warning">
                {{heightWarning}}
              </div>
              <form>
                <label class="btn btn-primary" >
                  <span class="glyphicon glyphicon-cloud-upload"></span> Upload
                  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg, .png, .gif, .svg">
                </label>
              </form>
                <span [hidden]="!project.admin">
                  <button type="button" class="btn btn-success" (click)="save()" ><span class="glyphicon glyphicon-floppy-disk"></span></button>
                  <button type="button" class="btn btn-success" (click)="edit()" ><span class="glyphicon glyphicon-edit"></span></button>
                  <button type="button" class="btn btn-success" (click)="deleteImage()" ><span class="glyphicon glyphicon-trash"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>
