<div class="col-sm-6 col-md-4">
    <div fileDrop
         [ngClass]="{'file-is-over': fileIsOver == image}"
         (fileOver)="fileOver($event)"
         (onFileDrop)="onFileDrop($event)">
        <div class="thumbnail">
            <a href="javascript:void(0);" (click)="showImage()">
                <img alt="{{image.name}}"
                     src="{{getImageUrl()}}"
                     [id]="'img'+image.imageId"
                     (load)="load(image)"
                     data-holder-rendered="true">
            </a>
            <div class="caption">
                <div *ngIf="!editing">
                    <h3>{{image.name}}</h3>
                    <p>{{image.description}}</p>
                </div>
                <form *ngIf="editing">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required
                               [(ngModel)]="image.name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" autosize rows="1" id="description" name="description" required
                                  [(ngModel)]="image.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="width">Width</label>
                        <input type="number" class="form-control" name="width" id="width" required
                               [(ngModel)]="image.preferredWidth">
                    </div>
                    <div class="form-group">
                        <label for="width">Height</label>
                        <input type="number" class="form-control" name="height" id="height" required
                               [(ngModel)]="image.preferredHeight">
                    </div>
                </form>
                <div [hidden]="image.fileName != null && image.fileName.length > 0"
                     class="alert alert-warning">
                    <span class="glyphicon glyphicon-cloud-upload"></span> You must upload this image!
                </div>
                <div [hidden]="image.fileName == null || image.fileName.length == 0 || image.width == image.preferredWidth && image.height == image.preferredHeight"
                     class="alert alert-warning">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    Worng image size! Expected: {{image.preferredWidth}} x {{image.preferredHeight}} actual: {{image.width}} x {{image.height}}
                </div>
                <button type="button" class="btn btn-primary" (click)="save()" >Save</button>
                <button type="button" class="btn btn-primary" (click)="edit()" >Edit</button>
                <button type="button" class="btn btn-primary" (click)="deleteImage()" >Delete</button>
            </div>
        </div>
    </div>
</div>