<div class="list-group">
    <div fileDrop
         [ngClass]="{'file-is-over': fileIsOver}"
         (fileOver)="fileOver($event)"
         (onFileDrop)="onFileDrop($event)">
        <a href="http://localhost:8000/{{file.fileName}}" target="_blank" class="list-group-item" *ngFor="let file of project.files">
            <span class="glyphicon glyphicon-download"></span>
            <strong>{{file.name}}</strong> <br>
            {{file.description}}<br>
            <i>{{file.fileName}} ({{file.size}} KB)</i>
            <div [hidden]="file.fileName != null && file.fileName.length > 0"
                 class="alert alert-warning">
                You must upload this image!
            </div>
        </a>
    </div>
</div>