<div class="list-group">
    <a href="https://play.google.com/store/apps/details?id=hu.markcon.automento" target="_blank" class="list-group-item">
        <span class="fa fa-google"></span> <strong>Google Play Store</strong>
        <p>https://play.google.com/store/apps/details?id=hu.markcon.automento</p>
    </a>
    <a href="https://itunes.apple.com/us/app/aut%C3%B3ment%C5%91/id1212371710?ls=1&mt=8" target="_blank" class="list-group-item">
        <span class="fa fa-apple"></span> <strong>App Store</strong>
        <p>https://itunes.apple.com/us/app/aut%C3%B3ment%C5%91/id1212371710?ls=1&mt=8</p>
    </a>
    <a href="https://automentokereso.hu/" target="_blank" class="list-group-item">
        <span class="fa fa-globe"></span> <strong>Web Page</strong>
        <p>https://automentokereso.hu/</p>
    </a>
    <a href="https://www.facebook.com/automentokereso/" target="_blank" class="list-group-item">
        <span class="fa fa-facebook"></span> <strong>Facebook</strong>
        <p>https://www.facebook.com/automentokereso/</p>
    </a>
</div>