<div class="glyphicon glyphicon-refresh" *ngIf="project.name == null">
</div>

<div *ngIf="project.name != null">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);" routerLink="/projects">Projects</a></li>
        <li class="active">{{project.name}}</li>
    </ol>
    <h1>{{project.name}}</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="projectLogic.getInfoPercentage()" aria-valuemin="0" aria-valuemax="100" [style.width]="projectLogic.getInfoPercentage()+'%'">
            <span class="sr-only">{{projectLogic.getInfoPercentage()}}% Complete</span>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation" [class]="tabImages.pillClass"><a href="javascript:void(0);" (click)="showImages()">{{tabImages.name}} <span [innerHTML]="getBadgeImage()"></span></a></li>
        <li role="presentation" [class]="tabTexts.pillClass"><a href="javascript:void(0);" (click)="showTexts()" >{{tabTexts.name}} <span [innerHTML]="getBadgeText()"></span></a></li>
        <li role="presentation" [class]="tabFiles.pillClass"><a href="javascript:void(0);" (click)="showFiles()">{{tabFiles.name}} <span [innerHTML]="getBadgeFile()"></span></a></li>
        <li role="presentation" [class]="tabLinks.pillClass"><a href="javascript:void(0);" (click)="showLinks()">{{tabLinks.name}} </a></li>
    </ul>

    <div class="tab-content">
        <div id="images" [class]="tabImages.paneClass">
            <project-images></project-images>
        </div>
        <div id="texts" [class]="tabTexts.paneClass">
            <app-project-texts></app-project-texts>
        </div>
        <div id="files" [class]="tabFiles.paneClass">
           <project-files></project-files>
        </div>
        <div id="links" [class]="tabLinks.paneClass">
            <project-links></project-links>
        </div>
    </div>
</div>
