<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="list-group">
            <a *ngFor="let video of videos" href="javascript:void(0)" class="list-group-item" (click)="select(video)">
                {{video.name}}
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-8" *ngFor="let video of currentVideo">
        <div>
            <vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                    <source [src]="video.link" type="video/mp4">
                </video>
            </vg-player>
        </div>
    </div>
</div>