<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="list-group">
            <a *ngFor="let video of videos" href="javascript:void(0)" class="list-group-item" (click)="select(video)">
                {{video.name}}
            </a>
        </div>
        <h2>{{currentVideo.name}}</h2>
        <p>{{currentVideo.description}}</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <video controls="" preload="metadata" [src]="currentVideo.link">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>