<h1>Change Password</h1>
<form  (ngSubmit)="onSubmit()"  #passwordForm="ngForm">
  <div class="form-group">
    <label for="newPassword">Old Password</label>
    <input type="password" class="form-control" id="newPassword" required
           [(ngModel)]="oldPassword" name="oldPassword" #oldPasswordM="ngModel">
    <div [hidden]="(oldPasswordM.valid || oldPasswordM.pristine)"
         class="alert alert-danger">
        Password is required
    </div>
  </div>
  <app-password-input></app-password-input>
  <button type="submit" class="btn btn-success" [disabled]="!passwordForm.form.valid  || !passwordInputComponent.isValid()">Submit</button>
</form>
