<h1>Pricing</h1>

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Free</div>
            <div class="panel-body">
                <p>Everithing you need to get started</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Basic Functions</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Customer E-mail notifications</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Own Branding</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Custom Domain</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Version control</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Upload Videos</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Use Android & iOS apps</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Additional custom features</li>
                <li class="list-group-item price">Free</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Indie</div>
            <div class="panel-body">
                <p>Everithing you need to get started</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Basic Functions</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Customer E-mail notifications</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Own Branding</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Custom Domain</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Version control</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Upload Videos</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Use Android & iOS apps</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Additional custom features</li>
                <li class="list-group-item price">5 € / User / Month</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Business</div>
            <div class="panel-body">
                <p>Everithing you need to get started</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Basic Functions</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Customer E-mail notifications</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Own Branding</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Custom Domain</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Version control</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Upload Videos</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Use Android & iOS apps</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Additional custom features</li>
                <li class="list-group-item price">10 € / User / Month</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Enterprise</div>
            <div class="panel-body">
                <p>Everithing you need to get started</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Basic Functions</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Customer E-mail notifications</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Own Branding</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Custom Domain</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Version control</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Upload Videos</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Use Android & iOS apps</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Additional custom features</li>
                <li class="list-group-item price">Contact us!</li>
            </ul>
        </div>
    </div>
</div>