.glyphicon {
    margin-right: 10px;
}

.glyphicon-ok {
    color: #42A948;
}

.glyphicon-remove {
    color: gray;
}
.panel-heading {
    text-align: center;
    font-size: 20px;
}


.price {
    text-align: center;
    font-size: 20px;
    background-color: #f5f5f5;
}