<h1>Login</h1>
<form  (ngSubmit)="onSubmit()"  #loginForm="ngForm">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" email
               [(ngModel)]="model.email" name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
           E-mail is required
        </div>
        <div [hidden]="!userError"
             class="alert alert-danger">
            User not found
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required
               [(ngModel)]="model.password" name="password" #password="ngModel">
        <div [hidden]="(password.valid || password.pristine) && !passwordError"
             class="alert alert-danger">
            <div [hidden]="password.valid || password.pristine">
                Password is required
            </div>
            <div [hidden]="!passwordError">
                wrong password
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
</form>
