<div class="glyphicon glyphicon-refresh" *ngIf="project.name == null">
</div>

<div *ngIf="project.name != null">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);" routerLink="/projects">Projects</a></li>
        <li class="active">{{project.name}}</li>
    </ol>
    <h1>{{project.name}}</h1>
    <ul class="nav nav-pills">
        <li role="presentation" class="{{tabImages.pillClass}}"><a href="javascript:void(0);" (click)="showImages()">Images</a></li>
        <li role="presentation" class="{{tabTexts.pillClass}}"><a href="javascript:void(0);" (click)="showTexts()" >Texts</a></li>
        <li role="presentation" class="{{tabFiles.pillClass}}"><a href="javascript:void(0);" (click)="showFiles()">Files</a></li>
    </ul>

    <div class="tab-content">
        <div id="images" class="tab-pane {{tabImages.paneClass}}">
            <ul>
                <li *ngFor="let image of project.images">
                    {{image.name}}
                    <a href="#" class="thumbnail">
                        <img alt="{{image.preferredWidth}}x{{image.preferredHeight}}" data-src="holder.js/100%x180"
                             style="height: {{image.preferredHeight}}px; width: {{image.preferredWidth}}; display: block;"
                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE5IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDMxOSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVjMzU2ZjdlMzYgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxNnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWMzNTZmN2UzNiI+PHJlY3Qgd2lkdGg9IjMxOSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMTcuOTIxODc1IiB5PSI5Ny4yIj4zMTl4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+"
                             data-holder-rendered="true">
                    </a>
                </li>
            </ul>
        </div>
        <div id="texts" class="tab-pane {{tabTexts.paneClass}}">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="files" class="tab-pane {{tabFiles.paneClass}}">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>
