<h1>Projects</h1>
<div class="list-group">
    <a href="javascript:void(0)" class="list-group-item" *ngFor="let project of projects" (click)="showProject(project.slug)">
        {{project.name}}<span class="badge">{{project.warnings}}</span>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="project.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="project.progress+'%'">
                <span class="sr-only">{{project.progress}}% Complete</span>
            </div>
        </div>
    </a>
</div>