<div class="glyphicon glyphicon-refresh" *ngIf="project.name == null">
</div>

<div *ngIf="project.name != null">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);" routerLink="/projects">Projects</a></li>
        <li class="active">{{project.name}}</li>
    </ol>
    <h1>{{project.name}}</h1>
    <ul class="nav nav-pills">
        <li role="presentation" [class]="tabImages.pillClass"><a href="javascript:void(0);" (click)="showImages()">{{tabImages.name}}</a></li>
        <li role="presentation" [class]="tabTexts.pillClass"><a href="javascript:void(0);" (click)="showTexts()" >{{tabTexts.name}}</a></li>
        <li role="presentation" [class]="tabFiles.pillClass"><a href="javascript:void(0);" (click)="showFiles()">{{tabFiles.name}}</a></li>
    </ul>

    <div class="tab-content">
        <div id="images" [class]="tabImages.paneClass">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div *ngFor="let image of project.images" class="thumbnail">
                        <a href="javascript:void(0);" (click)="showImage(image)">
                            <img alt="{{image.name}}"
                                 src="{{getImageUrl(image)}}"
                                 data-holder-rendered="true">
                        </a>
                        <div class="caption">
                            <h3>{{image.name}}</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="modal.hClass" id="myModal" role="dialog" [style.display]="modal.shown? 'block' : 'none'">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" (click)="modal.hide()">×</button>
                            <h4 class="modal-title">{{currentImage.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <img alt="{{currentImage.name}}"
                                 [width]="currentImage.preferredWidth"
                                 [height]="currentImage.preferredHeight"
                                 src="{{getImageUrl(currentImage)}}"
                                 data-holder-rendered="true">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div [hidden]="!modal.shown" class="modal-backdrop fade in"></div>
        </div>
        <div id="texts" [class]="tabTexts.paneClass">
            <ul class="nav nav-tabs">
                <li *ngFor="let tab of localeTabs; let i = index"  role="presentation" [class]="tab.pillClass"><a href="javascript:void(0);" (click)="setLocale(i)">{{tab.name}}</a></li>
            </ul>
            <form id="textList">
                <div *ngFor="let text of project.texts">
                    <div class="form-group" *ngFor="let lt of text.values" [hidden]="currentLocale.localeId != lt.localeCode">
                        <label for="{{text.textId + lt.localeCode}}">{{text.name}}</label>
                        <input type="text" class="form-control" name="{{text.textId + lt.localeCode}}" id="{{text.textId + lt.localeCode}}" [(ngModel)]="lt.value"  #textvalue="ngModel">
                        <div [hidden]="text.minLength <= textvalue.value?.length"
                                class="alert alert-warning">
                            Text is too short! Minimum required length is: {{text.minLength}}, current length is: {{textvalue.value?.length}}
                        </div>
                        <div [hidden]="text.maxLength >= textvalue.value?.length"
                             class="alert alert-warning">
                            Text is too long! Maximum required length is: {{text.maxLength}}, current length is: {{textvalue.value?.length}}
                        </div>
                    </div>
                </div>
        </form>
        </div>
        <div id="files" [class]="tabFiles.paneClass">
            <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item" *ngFor="let file of project.files">
                    <span class="glyphicon glyphicon-download"></span>
                    {{file.name}}
                </a>
            </div>
        </div>
    </div>
</div>
