<div [class]="modal.hClass" role="dialog" [style.display]="modal.shown? 'block' : 'none'">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">×</button>
        <h4 class="modal-title">Choose Icon</h4>
      </div>
      <div class="modal-body">
        <span *ngFor="let icon of icons" class="fa fa-{{icon}}" (click)="selectIcon(icon)"></span>
      </div>
    </div>
  </div>
</div>
