<ul class="nav nav-tabs">
  <li *ngFor="let tab of languageTabs; let i = index" role="presentation" [class]="tab.pillClass"><a href="javascript:void(0);" (click)="navigate(i)">{{tab.name}} <span [innerHTML]="getBadgeLocaleText(i)"></span></a></li>
</ul>
<form id="textList">
  <div *ngIf="project.languages.length === 0" class="alert alert-info" role="alert">Texts belonging to your project, will appear here. First you must add a language by clicking to the "add language" button.</div>
  <div *ngIf="project.languages.length !== 0 && project.texts.length === 0" class="alert alert-info" role="alert">Texts belonging to your project, will appear here. You can start adding texts by clicking on the "add text" button.</div>
  <div *ngFor="let entry of textEntries">
    <h2 *ngIf="entry.text.startGroup != null && entry.text.startGroup.length != 0">{{entry.text.startGroup}}</h2>
    <div class="form-group">
      <div class="thumbnail">
        <div class="caption">
          <label for="{{'i'+entry.id}}">{{entry.text.name}}</label>
          <p>{{entry.text.description}}</p>
          <div class="input-group">
            <span class="input-group-addon" id="{{'l'+entry.id}}"><span class="glyphicon {{getTextIndicator(entry)}}"></span></span>
            <textarea class="form-control" autosize rows="1"
                      name="{{'i'+entry.id}}" id="{{'i'+entry.id}}"
                      [attr.aria-describedby]="'l'+entry.id"
                      [(ngModel)]="entry.localText.value"  #textvalue="ngModel" (keyup)="onKey($event)" (changed)="changed()">

                        </textarea>
          </div>
          <div [hidden]="textvalue.value?.length > 0"
               class="alert alert-warning">
            You must fill out this field!
          </div>
          <div [hidden]="entry.text.minLength <= textvalue.value?.length || textvalue.value?.length == 0"
               class="alert alert-warning">
            Text is too short! Minimum required length is: {{entry.text.minLength}}, current length is: {{textvalue.value?.length}}
          </div>
          <div [hidden]="entry.text.maxLength >= textvalue.value?.length"
               class="alert alert-warning">
            Text is too long! Maximum required length is: {{entry.text.maxLength}}, current length is: {{textvalue.value?.length}}
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="resetText(entry.text)" >Reset</button>
        <span [hidden]="!project.admin">
        <button type="button" class="btn btn-success" (click)="edit(entry.text)" ><span class="glyphicon glyphicon-edit"></span></button>
        <button type="button" class="btn btn-success" (click)="deleteText(entry.text)" ><span class="glyphicon glyphicon-trash"></span></button>
        </span>
      </div>
    </div>
  </div>
</form>
<div>
    <span [hidden]="!project.admin">
      <button type="button" class="btn btn-success" [disabled]="project.languages.length === 0" (click)="add()" >Add text</button>
      <button type="button" class="btn btn-success" (click)="addNewLanguage()" >Add language</button>
      <button type="button" class="btn btn-success" [disabled]="project.languages.length < 2" (click)="removeLanguage()" >Remove language</button>
    </span>
  <button type="button" class="btn btn-primary right" [disabled]="isSaved()" (click)="save()" >Save <span [hidden]="!saving"><span class="glyphicon glyphicon-hourglass"></span></span></button>
  <button type="button" class="btn btn-primary right" [disabled]="isSaved()" (click)="reset()" >Reset</button>
</div>
<app-new-text-modal></app-new-text-modal>
<app-language-modal></app-language-modal>
