.alert.alert-warning {
    margin-top: 10px;
}
.thumbnail {
    margin-top: 10px;
}
textarea {
    resize: none;
}

button.right {
    float: right;
    margin-left: 5px;
}

.floating-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}
