<div class="list-group">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Login link</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of project.users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><span [hidden]="user.loginToken == null">{{getLoginLink(user)}}</span></td>
            <td>
                <button type="button" class="btn btn-primary" (click)="edit(user)" ><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-primary" (click)="deleteUser(user)" [disabled]="user.email === presenter.user.email" ><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary" (click)="add()" >Add user</button>
<app-user-modal></app-user-modal>